/* Allow list-table cells to wrap */
.docutils .list-table td,
.docutils .list-table th {
    white-space: normal !important;
    word-break: break-word;
}
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}
